:root{
  --color1:rgba(240, 12, 24, 1);
  --text:rgba(53, 53, 70, 1); 
  --color2:rgba(25, 165, 255, 1);
  --color3:rgba(64, 106, 255, 1);
  --color4:rgba(238, 237, 237, 1);
  --grad1:linear-gradient(153.06deg, #19A5FF 16.85%, rgba(13, 28, 159, 0) 118.63%);

  --grad2:linear-gradient(153.06deg, #19A5FF 16.85%, rgba(64, 106, 255, 0) 118.63%);

}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2'),
       url('../public/fonts/Inter-Regular.woff') format('woff'),
       url('../public/fonts/Inter-Black.woff') format('woff'),
       url('../public/fonts/Inter-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes shadow-input {
  0%{
    box-shadow: 0px 4px 100px 0px rgba(64, 106, 255, 0.2);
  }100%{
    box-shadow: 0px ;
  }
}
.App{
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

}
*{
  box-sizing: border-box;
}

.component{
  padding:0px 80px ;
}
.heading{
  width: 100%;
  margin-bottom: 60px;  
}
.heading h2{
  font-size: 35px;
  width: fit-content;
  margin: auto;
  position: relative;
  font-weight: 600;
}
.heading h2::after{
  content: "";
  width:50%;
  height: 3px;
  background-color:var(--color3);
  position: absolute;
  bottom: -15px;
  left:25%;
}
.header{
  height: 100px;
  box-shadow: 0px 4px 40px rgba(0,0,0,0.1);
  position: relative;
}
.header > div {
  margin: auto;
}
.logo img{
  width: 134px;
  height: 58px;
}
.none{
  text-align: center;
  justify-content: space-between;
  display: flex;
}
.nav-bar{
  z-index: 10;
}
.nav-bar a{
  margin-right: 35px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  position: relative;
}

.nav-bar a:hover ,a.active{
  background: var(--grad2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s;
}
.nav-bar a::before ,a.active::before{
  content: "";
  height: 2px;
  width: 0;
  background-image: var(--grad1);
  bottom: 0;
  left: 0;
  position: absolute;
}
.nav-bar a:hover::before ,a.active::before{
  width: 100%;
  transition: 1s;
}
.hire {
  display: flex;
  width: 134px;
  height: 45px;
  padding: 10px;
  background-color: var(--color3);
  color: white;
  border-radius: 25px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.hire p{
  font-size: 20px;
  margin-left: 10px;
  margin: auto;
}
.hire img{
  width: 24px;
  margin: auto;
  margin-top: 3px;
}
@media (max-width:1086px) {
  .component{
    padding: 0 40px;
  }
  .nav-bar a{
    font-size: 15px;
    margin-right: 25px;

  }
}
@media (max-width:900px) {

  .nav-bar a{
    font-size: 15px;
    margin-right: 10px;
  } 
  .hire{
    width:80px;
  }
}
@media (max-width:768px){
  .component{
    padding: 0 20px;
  }
  .header{
    justify-content: space-between;
  }
  .header > div{
    margin: auto 10px;
  }
  .hire{
    width: 200px;
  }
  .nav-bar{
    display: none;
  }
}
svg{
  font-size: 40px;
  color: var(--color3);
}
.mobile-list {
  display: flex; 
  position: absolute;
  height: 400PX;
  /* background-color: aqua; */
  right: 0;
  top: calc(100% + 10px);
  box-shadow: 0px 10px 40px rgba(0,0,0,0.7);
  border-radius: 40px;
  overflow: hidden;
}
.mobile-list .links{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  background-color: black;
  
}
.mobile-list .links a{
  font-size: 35px;
  color: white;
}
.land{
  padding-bottom: 100px;
  height: fit-content;
}
.text-land{
  margin: auto;
  margin-top: 165px;
  width: 50%;
  position: relative;
}
.text-land .heading-land h1{
  font-size: 60px;
  margin: 0;
  font-weight: 400;
}
.price-land{
  margin-top: 60px;
  position: absolute;
  left: 100px;
  bottom: -60px;
}
@media (max-width:1000px) {
  .price-land{
    bottom: -10px;
    left: 30px;

  }
}
@media (max-width:992px) {
  .text-land{
    width: 80%;
    
  }
  .text-land .heading-land h1{
    font-size: 40px;
    margin: 0;
  }
}

.text-land .heading-land .head-two span{
  font-weight: 800;
  background-image: var(--grad2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-land .heading-land .head-one span{
  background-image: var(--grad1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-land h1:first-of-type{
  font-weight: 500;
}
.text-land h1.head-two{
  font-weight: 900;
}
.text-land .par-land{
  margin-top: 50px;
}
@media(min-width:992px){
  
  .text-land .par-land{
    width: 687px;
  }
}
.text-land .par-land p{
  font-size: 22px;
  font-weight: 400;
}
.text-land .par-land p span{
  font-weight: 800;
}

 .price-land button{
  width: 281px;
  position: absolute;
  height: 60px;
  border-radius: 30px;
  background-color: transparent;
  border-width: 1px;
  border: solid 1px var(--text);
} .price-land button:last-of-type{
  transform:rotate(10deg);
  border: none;
  transform: translateY(10px) rotate(5deg);
  background-color: var(--color3);
  font-size: 20px;
  color: white;
}
.price-land:hover button:last-of-type{
  transform: translateY(0) rotate(-1deg);
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.28);
  background-color:var(--color2);
  transition: 0.5s;
}
.img-land{
  margin-top: 84px;
  width: 50%;
}.stat{
  /* height: 308px; */
  background: linear-gradient(298.97deg, rgba(101, 135, 255, 0.3) -13.1%, rgba(255, 255, 255, 0.3) 92.48%);

  padding: 30px 0;
}
.stat-cards {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
.stat-cards .card1{
  margin: auto;
}
.stat-cards h3{
  font-size: 50px;
  font-weight: 700
}
.stat-cards p{
  font-size: 22px;
}
.stat .companies{
  margin-top: 60px;
  margin: 60px 100px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.projects{
  padding-top: 100px;
  position: relative;
}
.projects .project-img{
  position: relative;
}
.project-img img{
  position: absolute;
}
.store img:first-child{
  left: -30px;
  top: 80px;
  z-index: 4;
}
.travel img:first-child{
  z-index: 4;
}
.store img:nth-child(3){
  z-index: 2;
  transform: translate(100px,40px);
  
}
.store svg{
  z-index: 1;
  transform: translate(270px,50px);
}
.travel img:nth-child(2){
  z-index: 3;
  transform: translate(-100px,100px);
}
.travel img:nth-child(3){
  z-index: 2;
  transform: translateY(40px);
  
}
.travel  svg{
  z-index: 1;
  transform: translate(150px);
}
.circle0 circle{
  fill:rgba(195, 145, 57, 1);

}.circle1 circle{
  fill:rgba(181, 131, 141, 1);

}
.project-name{
  position: relative;
  margin-top: 150px;
  height: 670px;
}
.project-name > div:last-child{
  z-index: 2;
  position: absolute;
  box-shadow: 0px 4px  20px 0 rgba(70, 161, 239, 0.3);
  padding: 40px;
  border-radius: 30px;
  opacity: 100;
  background-color: white;
}
.project-name > div:last-child h3{
  font-size: 45px;
  font-weight: 700;
  color: var(--color3);
}
.project-name > div:last-child p{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--text);
}.project-name > div:last-child p:last-of-type{
  margin-bottom: 160px;
}
.project-name > div:last-child button{
  width: 230px;
  height: 50px;
  background-color: transparent;
  border: 1px var(--color3) solid;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--color3);
}
.project-name > div:last-child button:hover{
  background-color: var(--color3);
  color: white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.28);
  transition: 0.5s;
  transform-origin: top;
}
.project-name > div:last-child button:hover svg{
  color: white;
}
.project-name > div:last-child button svg{
  font-size: 15px;
}
.project-name > div:last-child button svg:first-child{
  margin-left: 10px;
}
.project-name h2{
  font-size: 70px;
  font-weight: 800;
  color: var(--text);
  background-color: white;
  transform: rotate(-6deg) translate(40px,-130px);
  width: calc(100% + 51px);
  position: absolute;
}
.project-name h2 .circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: rgba(237, 222, 196, 1); */
  position: absolute;
  margin-left: 27px;
  top: calc(50% - 25px);
}
.project-name > div:first-of-type{
  position: absolute;
  width:calc(100% + 40px);
  height: 589px;
  transform: translate(40px,-91px);
}.back0{
  background-color: var(--text);
}
.back1{
  background-color: rgba(245, 240, 237, 1);
}
.project-name .arrow{
  position: absolute;z-index: 3;
  top: -20px;
  left: calc(50% - 53px);
  width: 107px;display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.project-name .arrow svg{
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 2px;
  box-shadow: 0px 4px 10px 0px rgba(64, 106, 255, 0.25);
  border-radius: 5px;
}
.wave{
  position: absolute;
  left: 0;
  top: 380px;
  z-index: -3;
}
.wave img{
  width: 100%;
}
.wave img:first-of-type{
  transform: translateY(280px);
}
@media(max-width:1115px){
  .project-img{
    display: none;
  }
  .project-name{
    top: 50PX;
    /* margin: auto; */
  }
  .project-name h2 .circle{
    display: none;
  }
  .wave{
    display: none;
  }
}
@media(max-width:907px){
  
  .project-name > div:last-of-type{
    width: 700px
  }
}
@media(max-width:800px){
  
  .project-name > div:last-of-type{
    width: 500px
  }
  .project-name > div:last-child p:last-of-type{
    margin-bottom: 20px;
  }
}
@media(max-width:540px){
  .project-name > div:last-of-type{
    width: 320px;
    font-size: 15px;
  }
  .project-name > div:last-child button{
    margin-top: 10px;
  }
}
.services{
  /* position: absolute; */
  margin-top: 50px;
  background-color: rgba(25, 165, 255, 0.07);
  padding: 85px ;
}
.services-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  gap:20px ;
}
.service{
  display: flex;
  width: calc(96% / 3);
  justify-content: space-between;
  background-color: white;
  padding:25px 30px;
  border-radius: 35px;
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.service:last-of-type{
  background-color:var(--color2);
  color: white;
}
.service >  svg:first-of-type{
  width: 35px;
  height: 30px;
}
.service p{
  font-size: 18px;
  color: var(--color2);
  margin: 0;
} 
.service .chevron{
  height:fit-content;
  transform: translatey(5px);
}
.service .chevron svg{
  font-size: 18px;
  margin: auto;
  color: var(--color2);
}
.service:last-of-type p , .service:last-of-type svg ,.service:last-of-type svg path{
  color: white;
  stroke: white;
}
.service:hover{
  background-image:linear-gradient(180deg,rgba(101, 135, 255, 0.1),
  rgba(255, 255, 255, 0.1)) ;
}
.service:last-of-type:hover{
  background-color: rgba(238, 237, 237, 1);
}
.service:last-of-type:hover p , .service:last-of-type:hover svg ,.service:last-of-type:hover svg path{
  color:  var(--text);
  stroke: var(--text);
}
@media(max-width:1100px){
  .services{
    padding: 20px;
  }
}
  @media(max-width:992px){
    .services{
      padding: 30px;
    }
    .service{
      width: calc(96% / 2);
    }
}
@media(max-width:685px){
  .services{
    padding: 20px;
  }
  .service{
    width: 98%;
  }
  .service p{
    font-size: 12px;
  }
}
.about{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.about .heading{
  margin-bottom:15px;
}
.about .heading h2{
  margin-left:0 ;
}
.about .heading h2::after{
  left: 0;
}  
.about .exp p{
  font-size: 12px;
  font-weight: 400;
  color: var(--text);
}
.solutions{
  margin-top: 80px;
}
.solutions h3{
  font-size: 30px;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 30px;
}
.solutions .step{
  margin-left: 20px;
  position: relative;
}
.solutions .step::before{
  content: "";
  width: 3px;
  height: 100%;
  background-color:  var(--color3);
  position: absolute;
  left: -18px;
  top: 25px;

}
.solutions .step h4{
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
}
.solutions .step p{
  font-size: 12px;
  color: var(--text);
  width: 90%;
}
.step .check{
  width: 25px;
  height: 25px;
  border: solid 2px var(--color3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  background-color: white;
}
.step .check span{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--color3);
  border-radius: 50%;
}
.about-image{
  overflow: hidden;
}
.about-image > div{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
.about-image div:last-of-type{
  width: 370px;
  height: 370px;
  position: absolute;
  transform: rotate(45deg) translate(185px , -50px);
  z-index: -1;
  border: 5px solid transparent; 
  border-image: linear-gradient(45deg,var(--color2), rgba(13, 28, 159, 0)); /* تطبيق تدرج الألوان */
  border-image-slice: 1; }
@media (max-width:1120px) {
  .about-image{
    display: none;
  }
  .text-about{
    width: 100%;
  }
  .text-about p{
    width: 90%;
  }
}
/* YourComponent.css */

/* تموجة الظهور عند تحميل الصفحة */
.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/* تموجة الاختفاء عند تحميل الصفحة */
.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
}
.comments{
  flex-wrap: wrap;
  position: relative;
}
.text-comm{
  width: 71%;
  background-color: var(--color3);
  color: rgba(255, 255, 255, 1);
  padding: 80PX 100PX;
}
.text-comm h3{
  width: 70%;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}
.text-comm p{
  width: 35%;
}
.img-comm{
  width: 29%;
}
.img-comm img{
  width: 100%;
  height: 100%;

}
.abslout-comm{
  position: absolute;
  width: 64%;
  height: 330px;
  top: 200px;
  left: 28%;
  padding: 10px 48px;
  background-image: linear-gradient(to left,rgba(184, 217, 255, 0.8),
  rgba(255, 255, 255, 0.8));
}
.abslout-comm .name p{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}
.abslout-comm .name span{
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0px;
}
.abslout-comm .comment{
  margin-top: 20px;
  margin-left: 90px;
}
.abslout-comm .comment p{
  font-size: 15px;
  font-weight: 400;
  color: var(--text);
  position: relative;
}

.abslout-comm .comment p:first-of-type::before{
  content: url(../src/images/fluent_comma-24-regular.svg);
  width: 40px;
  height: 40px;
  color: blue;
  position: absolute;
  left: -80px;
  top: -15px;
}
.abslout-comm .comment p:first-of-type::after{
  content: url(../src/images/fluent_comma-24-regular.svg);
  width: 40px;
  height: 40px;
  color: blue;
  position: absolute;
  left: -60px;
  top: -15px;
}
.abslout-comm .comment p:last-of-type::after{
  content: url(../src/images/comma.svg);
  width: 40px;
  height: 40px;
  color: blue;
  position: absolute;
  right: -30px;
}
.abslout-comm .comment p:last-of-type::before{
  content: url(../src/images/comma.svg);
  width: 40px;
  height: 40px;
  color: blue;
  position: absolute;
  right: -50px;
}
.comment .moving{
  position: absolute;
  width: 152px;
  height: 10px;
  bottom: -20px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}
.moving span {
  background-color: var(--text);
  width: 68px;
  height: 10px;
  border-radius: 5px;
}
.moving span.active{
  background-color: white;
}
@media (max-width:992px) {
  .img-comm{
    display: none;
  }
  .text-comm{
    width: 100%;
  }
  .text-comm h3{
    font-size: 30px;
  }
  .text-comm p{
    width: 90%;
  }
  .abslout-comm{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px;
  }
  .comment .moving{
    
    bottom: 10px;
  }
  .moving span.active{
    background-color: rgba(101, 135, 255, 0.3)
  }
  .abslout-comm .comment p:last-of-type::before , .abslout-comm .comment p:last-of-type::after
  ,.abslout-comm .comment p:first-of-type::before, .abslout-comm .comment p:first-of-type::after{ 
   display: none;
  }
  .abslout-comm .comment p{
    font-size: 12px;
    margin-left: 10px;
  }
  .abslout-comm .comment {
    margin-top: 20px;
    margin-left: 0px;
}
}







.social{
  padding-top:47px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--text);
}
.social .mail h3{
  width: 50%;
  font-size: 35px;
  font-weight: 700;
  color: white;
}
.social .mail .input{
  width: 100%;
}
.social .mail .input input:focus{
animation-delay: 200ms;
animation-iteration-count: infinite;
animation-timing-function: ease-out;
animation-duration: 100ms;
animation-timing-function: cubic-bezier(0.45, 1.45, 0.8, 1);
animation-duration: 200ms;
animation-name: shadow-input;
}
.social .mail .input input{
  width: 70%;
  border-radius: 20px;
  padding: 27px 43px;
  border: none;
  outline: none;
  margin-top: 30px;
}
.social .mail .input input::placeholder{
  font-size: 22px;
}
.social .mail .input svg{
  position: relative;
  left: -90px;
  cursor: pointer;
}
.social-icon p{
  font-size: 22px;
  color: white;
}
.social-icon .icons{
  width: 80%;
  display: flex;
  justify-content: space-between;
}.social-icon .icons svg{
  cursor: pointer;
}
@media(max-width:992px){
  .social-icon {
    margin-top: 20px;
  }
  .social-icon .icons{
    width: 50%;
  }
}
.meet{
  padding-top: 90px;

}
.meet .heading{
  margin-bottom: 20px;
}
.meet > p{
  width: 37%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
.team{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  gap: 30px 20px;
  justify-content: center;
}
.member{
  width: 20%;
}
.member > img{
  width: 100%;
}
.member .mem-name{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 4px;
}
.member .mem-career{
  font-size: 12px;
}
.member .mem-icons{
  display: flex;
}
.member .mem-icons img{
  background-color: var(--text);
  margin-right: 20px;
  border-radius: 50%;
  padding: 5px;
}
@media (max-width:992px) {
  .member{
    width:30%;
  }
}
.best-employee{
  margin-top: 72px;
  align-items: center;
  background-color: var(--text);
  color: white;
  border-radius: 20px;
  padding: 21px 77px 21px 95px;
}
.best-employee h2{
  width: 250px;
  font-size: 40px;
  font-weight: 700;
}
.employee{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: aliceblue; */
}
.employee .img-employee{
  width: 100px;
  height: 100px;
}
.employee .img-employee img{
  width: 100%;
  height: 100%;
  margin: 0;
}
.employee .employee-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
.employee-name p{
  margin: 0;
}
.employee .employee-career{
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.other-emplo > div{
  position: relative;
  cursor: pointer;
}
.other-emplo > div button{
  width: 262px;
  padding: 14px 25px;
  background: linear-gradient(153.06deg, #19A5FF 16.85%, rgba(64, 106, 255, 0) 118.63%);
  border: none;
  border-radius: 5px;
  color: white;
}
.other-emplo > div img{
  position: absolute;
  z-index: 1;
  top: -42.8px;
  left: calc(50% - 60px);
}
@media (max-width:992px) {

  .other-emplo{
    width: 100%;
  } 
  .other-emplo > div{
    width: fit-content;
    margin: auto;
  } 
  .best-employee{
    flex-wrap: wrap;
    height: fit-content;
    padding-bottom: 50px;
  }
}
@media (max-width:830px) {
  .best-employee{
    flex-direction: column;
    align-items: center;
  }
  .other-emplo {
    margin-top: 50px;
  } 
}
@media (max-width:830px){
  .best-employee{
    padding: 20px;
    /* padding-bottom: 70px; */
  }
  .other-emplo > div button{
    padding: 5px;
  }
  .other-emplo > div img{
    display: none;
  }
}


.contact{
  margin-top: 57px;
  margin-bottom: 186px;

}
.contact .heading{
  margin-bottom: 119px;
}
  
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}
.contact .form{
  width: 55%;
  padding-top: 45px;
  padding-left: 39px;
  padding-bottom: 23px;
}
.contact .head-form{
  margin-bottom: 73px;
}
.contact .form .head-form h3{
  font-size: 40px;
  font-weight: 700;
  color: var(--color1);
  margin-bottom: 0;
}
.contact .form .head-form p{
  font-size: 22px;
  font-weight: 400;
  color: var(--text);
}
.contact .social-contact{
  width: 45%;
}
.contact .form form > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}
.contact .form form label{
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
}
.contact .form form label span{
  color: var(--color1);
  margin-left: 10px;
  margin-bottom: 0;
}
.contact .form form input{
  width: 94%;
  border-radius: 15px;
  border: none;
  padding: 15px 32px;
  color: black;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 1) inset,
   5px 5px 10px 0px rgba(170, 170, 204, 0.5) inset ,
   2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset ,
   -2px -2px 4px 0px rgba(255, 255, 255, 0.5) inset;
  outline: none;
  background-color: rgba(245, 245, 250, 1);
}
.contact .form form > div:last-of-type input{
  height: 160px;
}
.contact form button{
  width: 131px;
  padding: 10px 15px;
  border-radius: 32px;
  outline: none;
  border: none;
  background-color: var(--color3);
  color: white;
  box-shadow: 10px 10px 20px 0px rgba(170, 170, 204, 0.5), 5px 5px 10px 0px rgba(170, 170, 204, 0.25);
  font-size: 14px;
}




.social-contact{
  background-color: var(--color3);
  padding: 40px 10px 40px 104px;
  position: relative;
}
.social-contact .head-social{
  color: white;
  margin-bottom: 87px;
}
.social-contact .head-social h3{
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.social-contact .head-social p{
  font-size: 18px;
  font-weight: 400;
}
.email-number{
  margin-bottom: 46px;
}
.social-contact .email{
  display: flex;
  gap: 23px;
  color: white;
}
.social-contact .email p{
  font-size: 18px;
  font-weight: 400;
}
.social-contact .contact-icons{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.social-contact .contact-icons svg{
  cursor: pointer;
}
.social-contact .contact-icons svg path{
  width: 35px;
  height: 35px;
}

.social-contact>svg{
  position: absolute;
  top: 0;
  left: 0px;
}
@media (max-width:992px) {
  .social-contact .head-social h3{
    font-size: 25px;
  }
  .social-contact .head-social p{
    font-size: 14px;
    font-weight: 300;
    /* color: white; */
  }
}
@media (max-width:900px) {
  .social-contact>svg{
    display: none;
  }
  .social-contact{
    padding: 20px;
  }
}
@media (max-width:768px) {
  .contact-content .social-contact{
    flex-direction: column;
  }
  .contact-content .form{
    width: 100%;
  }
  .contact-content .social-contact{
    width: 100%;
  }
}

.footer{
  background-color: var(--text);
  padding: 18px 106px;
  color: white;
}
.links-footer{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-bottom: 107px;
  gap: 90px;
}
.links-footer .list-links h4{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  /* line-height: 71px; */
}
.links-footer .list-links p{
  font-size: 16px;
  font-weight: 400;
}
.links-footer .list-links:last-of-type > div{
  display: flex;
  gap: 12px;
}.footer .copy-right{
  display: flex;
  align-items: flex-end;
  position: relative;
}
.footer .copy-right div:last-of-type{
  /* border: solid wheat; */
  width: 100%;
}
.footer .copy-right div:last-of-type p{
  margin: 0;
  text-align: center;
}
.footer .copy-right::after{
  content: "";
  width: calc(100% + 212px);
  height: 1px;
  background-color: rgba(238, 237, 237, 1);
  position: absolute;
  top: 0;
  left: -106px;
}
@media (max-width:768px) {
  .footer .copy-right{
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
    gap: 20px;
  }
}




.sec-heading{
  background: linear-gradient(298.97deg, rgba(101, 135, 255, 0.3) -13.1%, rgba(255, 255, 255, 0.3) 92.48%);

}
.head-page{
  margin: 0;
  overflow: hidden;
  position: relative;
  padding-top: 54px;
  padding-bottom: 100px;

}
.head-page .heading{
  margin-bottom: 38px;
}
.head-page p{
  width: 43%;
  margin-top: 0;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;color: rgba(74, 85, 104, 1);
  /* margin-bottom: 55px; */
}
.head-page svg{
  position: absolute;
  bottom: -3px;
}
@media (max-width:768px) {
  .head-page p{
    font-size: 15px;
  }
}
@media (max-width:575px) {
  .head-page p{
    font-size: 12px;
  }
}
.section-about {
  margin-top: 76px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-about .sec-text{
  width: 34%;
}
.section-about .sec-img{
  width: 64%;
}
.section-about .sec-img img{
  width: 100%;
}
.sec-text .par{
  margin-top: 63px;
}
.sec-text .par h2{
  font-size: 40px;
  font-weight: 700;
  /* line-height: 48.41px; */
  color: var(--color2);
}
.sec-text .par p{
  font-size: 22px;
  font-weight: 400;
  color: var(--text);
  line-height: 30px;
}
.sec-solution{
  margin-top: 270px;
}
.head-sec{
  font-size: 30px;
  line-height: 30px;
}
.sec-solution .head-sec{
  text-align: end;
}

@media (max-width:992px) {
  .section-about .sec-text{
    width: 100%;
  }
  .section-about .sec-img{
    width: 100%;
  }
  .sec-solution{
    flex-direction: column-reverse;
  }
}
.sec-products{
  margin-top: 240px;
}
.sec-products .products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 45px;
  padding: 71px 48px 100px;
  background-color: rgba(238, 237, 237, 1);
  /* height: 715px; */
  border-radius: 16px;
}
.sec-products .products .products-name{
  width: 11%;
  /* gap: 17px; */
}
.sec-products .products-name p{
  height: 71px;
  width: fit-content;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.sec-products .products-name p.active{
  color: var(--color2);
  position: relative;
}
.sec-products .products-name p:hover{
  color: rgba(25, 167, 255, 0.489);
}
.sec-products .products-name p.active::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  background-color: #19A5FF;
  top: 35px;
}
.sec-products .products .product-image{
  width: 55%;
  position: relative;
}
.sec-products .products .product-image img{
  max-width: 100%;
  position: absolute;
  left: 0;
  top: -10px;
  z-index: 2;
  /* height: 563px; */
}
.sec-products .product-image svg{
  position: absolute;
  left: calc(50% - 100px);
  top: -40px;
  max-width: 100%;

}
.sec-products .products .product-desc{
  width: 33%;
}

.product-desc h2{
  color: var(--color2);
  font-size: 40;
  font-weight: 700;
}
.product-desc p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media(max-width:1100px){
  
  .sec-products .products .products-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:0px 60px;
    margin-bottom: 50px;
  }
  .sec-products .products .product-image{
    width: 55%;
    height: 100%;
  }
  .sec-products .products .product-desc{
    width: 40%;
  }.product-desc p{
    font-size: 15px;
  }
}
@media(max-width:900px){
  .products{
    gap: 70px;
  }
  .sec-products .products .product-image{
    width: 100%;

  }
  .sec-products .products .product-image img {
    position: relative;
  }
  .sec-products .products .product-desc{
    width: 100%;
  }
}
@media (max-width:600px) {
  .sec-products .products .product-image svg{
    display: none;
  }
  .product-desc p{
    font-size: 12px;
    line-height: 20px;
  }
}
.hire-sec{
  margin-top: 175px;
}
.hire-sec h2{
  width: fit-content;
  margin: auto;
  font-size: 40px;
  font-weight: 700;
  color: var(--color2);
  margin-bottom: 40px;
}
.hire-sec .service{
  margin: auto;
}
.hire-sec{
  margin-bottom: 150px;
}
.career-head {
  background-color: transparent;
}
.career-head button{
  display: block;
  margin-top: 20px;
  width: 200px;
  height: 60px;
  position: absolute;
  left: calc(50% - 100px);
  border: 3px solid;
  font-size: 22px;
  font-weight: 500;
  background-color: transparent;
}
.career-head .button button:last-of-type{
  border: none;
  color: white;
  background-color: var(--text);
}
.career-head .button button:first-of-type{
  transform: translate(8px,8px);
}
.career-team{
  margin-top: 50px;
  margin-bottom: 123px;
}


.format form{
  display: flex;
  flex-wrap: wrap;
  gap:20px
}
.format form > div{
  width: calc(50% - 20px)
}
.personal form .cv {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.format form div label{
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 7px;
}
.personal form .cv label:last-of-type{
  color: var(--color3);
  border: solid var(--color3) 1px;
  padding: 12px 24px;
  width: 294px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.personal form .cv label:last-of-type{
  color: var(--color3);
  border: solid var(--color3) 1px;
  padding: 12px 24px;
  width: 294px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.personal form .cv label:last-of-type:hover{
  background-color: var(--color3);
  color: white;
  cursor: pointer;
}
.personal form .cv label:last-of-type:hover svg path{
 stroke: white;
}
.format form div label span{
  color: var(--color1);
}
.format form > div input , .format form > div select{
  width: 100%;
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;

}
.format form > div input::placeholder{
  text-align: center;
}
.personal .cv label:first-of-type{
  margin-bottom: 13px;
}
.pic{
  display: flex;
  flex-direction: column;
}
.personal form .pic label:last-of-type{
  color:black;
  border: none;
  border: 1px transparent;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(238, 237, 237, 1)  ;
  padding: 5px 10px;
  border-radius: 10px;
}
.personal form .pic label svg{
  margin-right: 13px;
}
.format h2{
  font-size: 50px;
  font-weight: 700;
  width: 100%;
}
.format form > div select{
  text-align: center;
}
.format form .about-you{
  width: 100%;
}
.format form .about-you input{
  height: 200px;
}
.format .button{
  width: 100%;
  text-align: end;
  margin-bottom: 71px;
}
.format form button{
  width: 294px;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color3);
  border: solid 1px var(--color3);
  border-radius: 20px;
  outline: none;
  background-color: white;
}
.format form button:hover{
 background-color: rgba(64, 106, 255, 1);
 color: white;
}
.viewhead{
  background-color:rgba(52, 58, 64, 1);
  width: 100%;
  height: 988px;
  position: relative;
}
.viewhead img{
  position: absolute;
}
.viewhead img:first-child{
  top: 124px;
  left: 144px;
  width: 800px;
  height: 334px;
}@media(max-width:992px){
  .viewhead img:first-child{
    width: 500px;
  }
}@media(max-width:780px){
  .viewhead img:first-child{
    width: 300px;

    left: 20px;
  }
}
.view-case{
  background-color: rgba(238, 237, 237, 1);
}
.viewhead img:nth-child(2){
  top: 0;
  right: 0;
}
.viewhead img:nth-child(3){
  top: 88px;
  right: 399px;
}
@media (max-width:992px) {
  .viewhead img:nth-child(3){
    top: 88px;
    right: 100px;
  }
}
.viewhead img:nth-child(4){
  bottom: 207px;
  right: 0px;
  width: 850px;
}
.viewhead img:nth-child(5){
  top: 478px;
  left: 0;
}
@media(max-width:780px){
  .viewhead img:nth-child(5){
    top: 478px;
    left: 0;
    width: 50%    ;
  }
}
.viewhead img:last-child{
  top: 248px;
  right: 0;
}
.figtree{margin-bottom: 350px;}
.head-fig{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;border-bottom: solid 2px rgba(196, 196, 196, 1);
}
.head-fig p{
  margin: 0;
}
.head-fig p:first-of-type{
  font-size: 200px;
  font-weight: 700;
}
.head-fig p:nth-of-type(2){
  font-size: 70px;
  font-weight: 600;
}
.head-fig p:last-of-type{
  font-size: 50px;
  font-weight: 300;
}

.letter{margin-top: 150px;}
.letter p{
  font-size: 40px;
  color: rgba(52, 58, 64, 1);
  font-weight: 300;
}
@media (max-width:1040px) {
  .head-fig p:first-of-type{
    font-size: 50px;
    font-weight: 700;
  }
  .head-fig p:nth-of-type(2){
    font-size: 40px;
    font-weight: 600;
  }
  .head-fig p:last-of-type{
    font-size: 20px;
    font-weight: 300;
  }
  .letter p{
    font-size: 2  0px;
    color: rgba(52, 58, 64, 1);
    font-weight: 300;
  }
}@media (max-width:530px) {
  .head-fig p:first-of-type{
    font-size: 50px;
  }
  .head-fig p:nth-of-type(2){
    font-size: 25px;
  }
  .head-fig p:last-of-type{
    font-size: 17px;
  }
}
.color{position: relative;}
.color svg {
  position: absolute;
  left: 0px;
  top: -300px;
}
.color img{
  position: absolute;
  z-index: 1;
  right: 0;
  top: -270px;
}

.color-head{
  justify-content: start
}
.color-head p:first-of-type{
  font-size: 70px;font-weight: 700;
  margin-right: 50%;
}
.color-head p:last-of-type{
  font-size: 50px;font-weight: 300;
}
.color-columns{
  display: flex;
  gap: 50px;
  margin-top: 70px;
}
.color-column p{
  text-align: center;
  font-size:40px;
  font-weight: 400;
}
.color-column{
  width: 18%;
}
.color-column div{
  width: 100%;
  height: 150px;
}
.color-column1 div:first-of-type{
  background-color: rgba(108, 117, 125, 1);
}
.color-column1 div:nth-of-type(2){
  background-color: rgba(196, 196, 196, 1);
}
.color-column1 div:nth-of-type(3){
  background-color: rgba(214, 214, 214, 1);
}
.color-column1 div:nth-of-type(4){
  background-color: rgba(217, 217, 217, 1);
}

.color-column2 div:first-of-type{
  background-color: rgba(52, 58, 64, 1)
}
.color-column2 div:nth-of-type(2){
  background-color: rgba(223, 195, 98, 1)
}
.color-column2 div:nth-of-type(3){
  background-color:rgba(242, 222, 148, 1)
}
.color-column2 div:nth-of-type(4){
  background-color: rgba(246, 237, 202, 1);
}
.color-column3 div{
  background-color: rgba(13, 139, 255, 1);
}
@media (max-width:992px) {
  .color-head p:first-of-type{
    margin-right: 25%;
  }
}
@media (max-width:700px) {
  .color-column p{
    font-size:20px;
    font-weight: 400;
  }
}

.icons{
  margin: 80px 0px;
}
.icons-head{
  justify-content: start;
}
.icon-list{
  margin-top: 50px;
  width: 78%;
  background-color: rgba(108, 117, 125, 1);
  display: flex;
  flex-wrap: wrap;
  gap: 38px 50px;
  padding: 38px 43px;
  border-radius: 30px;
}
.display{
  overflow: hidden;
  width: 100%;
  height: 3400px;
}
.dis-imgs{
  position: relative;
}
.dis-imgs img,.dis-imgs svg{
  position: absolute;
}
.dis-imgs img:first-of-type{
  z-index: 7;
  right: 20%;
  top: 66px;
}
.dis-imgs img:nth-of-type(2){
  z-index: 6;
  left: 5%;
  top: 172PX;

}
.dis-imgs img:nth-of-type(3){
  z-index: 5;
  left: 4.4%;
  top: 160px;
}
.dis-imgs img:nth-of-type(4){
  left: 0px;
  top: 614px;
  z-index: 4;
  max-width: 100%;
  /* width: 100%; */
}
.dis-imgs img:nth-of-type(5){
  left: 6%;
  top: 1382px;
  z-index: 6;
}
.dis-imgs img:nth-of-type(6){
  right: 23%;

  top: 1802px;
  z-index: 7;
}
.dis-imgs img:nth-of-type(7){
  left:16%;
  top: 2400px;
  z-index: 8;
}
.dis-imgs svg:first-of-type{
  left:-100px;
}
.dis-imgs svg:nth-of-type(2){
  right:-150px;
  top: 950px;
  z-index: 5;
}
.dis-imgs svg:nth-of-type(3){
  left:25%;
  top: 2035px;
  z-index: 5;
}
.dis-imgs svg:nth-of-type(4){
  right:-90px;
  top: 2064px;
  z-index: 5;
}
@media (max-width:1100px){
  .display{
    overflow: hidden;
    height: fit-content;
  }
  .dis-imgs {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .dis-imgs img{
    position: relative;
    max-width: 100%;
    width: 500px
  }
  .dis-imgs svg{
    display: none;
  }
  .dis-imgs img:first-of-type{
    right: 0;
    top: 0px;
  }
  .dis-imgs img:nth-of-type(2){
    display: none;
  }
  .dis-imgs img:nth-of-type(3){
    display: none;
  }
  .dis-imgs img:nth-of-type(4){
   
    display: none;
  }
  .dis-imgs img:nth-of-type(5){
    left:0;
    top: 0;
  }
  .dis-imgs img:nth-of-type(6){
    right: 0%;
  
    top: 0;
   
  }
  .dis-imgs img:nth-of-type(7){
    left:0%;
    top: 0;
  }
}
.discover-veiw p{
  font-size: 140px;
  text-align: center;
  color: rgba(52, 58, 64, 1);
  margin: 0;
  line-height: 180px;
  position: relative;
}
.discover-veiw p img{
  position: absolute;
  z-index: 1;
}
.discover-veiw p:last-of-type img{
  left: 231px;
  top: -115px;
}
.discover-veiw p:first-of-type img{
  right: 231px;
  top: 115px;
}

.discover-veiw p span{
  color: rgba(108, 117, 125, 1);
}
.disc-imgs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 0px;
}
.disc-imgs div img{
  max-width: 100%;
}
.disc-imgs div{
  width: 49%;
}
.disc-imgs div:first-of-type{
  width: 100%;
}
@media (max-width:850px) {
  .discover-veiw p{
    font-size: 70px;
    text-align: center;
    color: rgba(52, 58, 64, 1);
    margin: 0;
    line-height: 180px;
  }
}

.view-foot{
  margin-top: 150px;
  padding-bottom: 50px;

}

.view-foot > div{
  padding-left: 25px;
  border-left: solid rgba(52, 58, 64, 1) 6px;
  position: relative;
}
.view-foot > div::after{
  content: "";
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  top: -80px;
  left: -20px;
}
.view-foot h3{
  font-size: 80px;
  font-weight: 600;
}
.view-foot > div > p{
  font-size: 60px;
  font-weight: 600;
  width: 70%;
  margin-top: 41px;
  color: rgba(108, 117, 125, 1);
}
.view-social{
  margin-top: 42px;
}
.view-social div{
  display: flex;
  gap: 22px;
  align-items: center;
}
.view-social div p{
  font-size: 30px;
  /* font-weight: 600; */
  color: rgba(108, 117, 125, 1);

  line-height: 36px;
}
.view-social div svg path{
  stroke: rgba(108, 117, 125, 1);
}
@media (max-width:800px) {
  .view-foot > div > p{
    font-size: 30px;
  }
  .view-foot h3{
    font-size: 50px;
    font-weight: 600;
  }
}